@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

nav {
	background-color: black
}

nav div.nav-wrapper {
	padding: 0px 40px;
	background-color: black
}

nav div.nav-wrapper a {
	font-family: "Anton", sans-serif
}

nav i.fas,
nav strong {
	color: yellow
}

footer.page-footer {
	background-color: black
}

footer.page-footer div.container div.row div.col.l6.s12 h5 {
	font-family: 'Montserrat', sans-serif;
	color: yellow
}

footer.page-footer div.container div.row div.col.l4.offset-l2.s12 h5 {
	font-family: 'Montserrat', sans-serif;
	color: yellow
}

footer.page-footer div.footer-copyright div.container {
	font-family: 'Montserrat', sans-serif;
	color: rgba(255, 255, 0, 0.5)
}

.grey-text.text-lighten-4 {
	font-family: 'Montserrat', sans-serif;
}

ul > li {
	font-family: 'Montserrat', sans-serif;
}

header.bannerContainer {
	width: 100%;
	background-image: url(../images/banner.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-color: rgba(0, 0, 0, 0.9);
	background-blend-mode: overlay;
	background-attachment: fixed;
	padding: 10% 0px
}

header.bannerContainer div.formContainer {
	width: 750px;
	height: auto;
	margin: 0px auto;
	padding: 50px;
	border: 1px solid rgba(255, 255, 255, 0.5);
	color: white;
	text-align: center
}

header.bannerContainer div.formContainer:hover {
	border: 1px solid yellow
}

header.bannerContainer div.formContainer h1 {
	font-family: 'Anton', sans-serif;
	font-size: 6rem;
	margin: 0px
}

header.bannerContainer div.formContainer strong {
	color: yellow
}

header.bannerContainer div.formContainer span {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5rem
}

header.bannerContainer div.formContainer input[type=text] {
	margin-top: 25px
}

header.bannerContainer div.formContainer input[type=text]:placeholder-shown {
	color: rgba(255, 255, 255, 0.1)
}

header.bannerContainer div.formContainer input[type=text]:not(.browser-default) {
	border: 1px solid rgba(255, 255, 255, 0.2);
	padding: 5px;
	font-family: 'Montserrat', sans-serif;
	color: white;
	text-align: center;
	width: 550px
}

header.bannerContainer div.formContainer input[type=text]:focus {
	border: 1px solid #ff0;
	box-shadow: none
}

header.bannerContainer div.formContainer button {
	font-family: 'Montserrat', sans-serif;
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.2)
}

header.bannerContainer div.formContainer button:hover {
	border: 1px solid #ff0
}

.ErrorContainer {
	background-color: black;
	margin-bottom: 20px;
}

.Error {
	color: red;
	font-family: 'Montserrat', sans-serif;
}

section header#headerSection {
	background-color: yellow;
	padding: 10px 75px
}

section header#headerSection h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 3em;
	color: black;
	margin: 0px
}

section header#headerSection h1 span {
	font-weight: bolder;
	color: black
}

section header#headerSection h5 {
	font-family: 'Montserrat', sans-serif;
}

section div#cardSection {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-template-rows: auto;
	background-color: black
}

section div#cardSection article#movieCard {
	width: 300px;
	margin: 40px auto
}

section div#cardSection article#movieCard div#posterContainer {
	width: 300px;
	height: 444px;
	display: flex
}

section div#cardSection article#movieCard div#posterContainer img {
	width: 300px;
	max-height: 444px;
	height: auto;
	align-self: center
}

section div#cardSection article#movieCard div#detailsContainer {
	color: white;
	padding: 10px
}

section div#cardSection article#movieCard div#detailsContainer h6 {
	margin: 0px;
	padding: 0px;
	color: yellow;
	text-align: left;
	font-size: 1.2rem
}

section div#cardSection article#movieCard div#detailsContainer h6,
section div#cardSection article#movieCard div#detailsContainer span {
	font-family: 'Montserrat', sans-serif;
}

section div#cardSection article#movieCard div#detailsContainer #buttonContainer {
	text-align: right;
	background-color: transparent
}

section div#cardSection article#movieCard div#detailsContainer #buttonContainer a {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	border: 1px solid rgba(255, 255, 0, 0.5);
	background-color: transparent;
	color: yellow
}

section div#cardSection article#movieCard div#detailsContainer #buttonContainer a:hover {
	border: 1px solid #ff0;
	background-color: yellow;
	color: black
}

section div#searchSection {
	background-color: yellow;
	padding: 10px 75px;
	text-align: center
}

section div#searchSection a#searchButton,
section div#searchSection a#NextButton {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	border: 1px solid rgba(255, 255, 0, 0.5);
	background-color: black;
	color: yellow;
	width: 213.38px
}

section div#searchSection a#searchButton:hover,
section div#searchSection a#NextButton:hover {
	border: 1px solid #ff0;
	background-color: yellow;
	color: black
}

article.chosenMovieContainer {
	background-color: black;
	font-family: 'Montserrat', sans-serif;
}

article.chosenMovieContainer div#titleContainer {
	background-color: yellow;
	margin: 0px 40px;
	padding: 20px
}

article.chosenMovieContainer div#titleContainer h1 {
	margin: 0px;
	color: black;
	font-weight: bolder;
	font-size: 3em
}

article.chosenMovieContainer div#contentContainer {
	padding: 50px;
	display: flex;
	align-content: center;
	justify-content: center;
	line-height: 27px;
	color: white
}

article.chosenMovieContainer div#contentContainer div#imageContainer {
	display: flex;
	align-content: center;
	margin: 10px
}

article.chosenMovieContainer div#contentContainer div#imageContainer img {
	object-fit: contain
}

article.chosenMovieContainer div#contentContainer ul {
	height: 100%;
	padding: 0px 40px
}

article.chosenMovieContainer div#contentContainer ul li span {
	font-weight: bold;
	color: yellow
}

article.chosenMovieContainer div#contentContainer ul #searchAgainBtn {
	justify-self: flex-end;
	font-weight: bold;
	border: 1px solid rgba(255, 255, 0, 0.5);
	background-color: black;
	color: yellow
}

article.chosenMovieContainer div#contentContainer ul #searchAgainBtn:hover {
	border: 1px solid #ff0;
	background-color: yellow;
	color: black
}

@media screen and (max-width: 990px) {
	header#headerSection h1 {
		font-size: 2em !important
	}
	div#cardSection {
		grid-template-columns: 50% 50% !important
	}
}

@media screen and (max-width: 870px) {
	article.chosenMovieContainer div#informationContainer {
		margin-top: 20px
	}
	article.chosenMovieContainer div#contentContainer {
		flex-flow: row wrap
	}
	article.chosenMovieContainer div#titleContainer {
		text-align: center;
		background-color: yellow;
		padding: 10px;
		margin: 10px 0px
	}
	article.chosenMovieContainer div#titleContainer h1 {
		font-size: 2em
	}
}

@media screen and (max-width: 800px) {
	header.bannerContainer div.formContainer {
		width: 600px
	}
	header.bannerContainer div.formContainer input[type=text]:not(.browser-default) {
		width: 400px
	}
	header.bannerContainer div.formContainer input[type=text]:focus {
		border: 1px solid #ff0;
		box-shadow: none
	}
}

@media screen and (max-width: 500px) {
	article.chosenMovieContainer div#contentContainer {
		padding: 0px
	}
	article.chosenMovieContainer div#contentContainer ul {
		padding: 0px 35px
	}
	article.chosenMovieContainer div#titleContainer {
		margin: 10px 0px;
		width: 100%
	}
}

@media screen and (max-width: 550px) {
	header.bannerContainer {
		margin: 0px;
		padding: 0px
	}
	header.bannerContainer div.formContainer {
		width: 100vw;
		padding-left: 0px;
		padding-right: 0px
	}
	header.bannerContainer div.formContainer:hover {
		border: none
	}
	header.bannerContainer div.formContainer h1 {
		font-size: 4rem
	}
	header.bannerContainer div.formContainer span {
		font-size: 1.2rem
	}
	header.bannerContainer div.formContainer form {
		display: flex;
		flex-direction: column
	}
	header.bannerContainer div.formContainer form input[type=text]:not(.browser-default) {
		width: 100%;
		padding: 0px
	}
	header.bannerContainer div.formContainer form input[type=text]:focus {
		border: 1px solid #ff0;
		box-shadow: none
	}
	header.bannerContainer div.formContainer form button {
		width: 100%
	}
}

@media screen and (max-width: 525px) {
	header.bannerContainer {
		height: fit-content !important;
		width: 100vw
	}
	header.bannerContainer div.formContainer {
		width: 100vw !important;
		height: 100% !important;
		padding-left: 0px;
		padding-right: 0px
	}
	header.bannerContainer div.formContainer:hover {
		border: none
	}
	header.bannerContainer div.formContainer h1 {
		font-size: 2.5rem
	}
	header.bannerContainer div.formContainer span {
		font-size: 0.8rem
	}
	header.bannerContainer div.formContainer form {
		display: flex;
		flex-direction: column
	}
	header.bannerContainer div.formContainer form input[type=text]:not(.browser-default) {
		width: 100%;
		padding: 0px
	}
	header.bannerContainer div.formContainer form input[type=text]:focus {
		border: 1px solid #ff0;
		box-shadow: none
	}
	header.bannerContainer div.formContainer form button {
		width: 100%
	}
	footer p.right {
		text-align: center;
		float: none !important
	}
	footer span {
		display: block;
		width: 100%;
		text-align: center
	}
}

@media screen and (max-width: 650px) {
	section header#headerSection h1 {
		font-size: 1.7em !important
	}
	div#cardSection {
		grid-template-columns: 100% !important
	}
	header.bannerContainer div.formContainer {
		width: 525px
	}
}

@media screen and (max-width: 600px) {
	section header#headerSection h3 {
		font-size: 1.5em
	}
	nav i.fas {
		position: relative;
		top: 15px;
		height: 25px
	}
}


/*# sourceMappingURL=style.css.map */
